@keyframes load {
  from {color: black;}
  to {color: green;}
  from {border-color: black;}
  to {border-color: green;}
}

@keyframes loadlist {
  from {color: black;}
  to {color: green;}
  from {border-color: black;}
  to {border-color: green #39FF14 #013220 #90ee90;}
}

@keyframes loadt {
  from {color: black;}
  to {color: green;}
  from {background-color: black;}
  to {background-color: purple;}
}


img {
  opacity: 1;
  animation-name: img;
    animation-duration: 4s;
    width: 60%;
    float: right;
    border: solid;
    border-color: green #39FF14 #013220 #90ee90;
    border-width: thick;
}

h1 {
  color: green;
  background-color: purple;
   animation-name: loadt;
     animation-duration: 4s;
}
body {
  background-color: black;
  color: green;
  animation-name: load;
    animation-duration: 4s;

}
.load {
  font-family: monospace;
color: green;
position: relative;
animation-name: load;
  animation-duration: 4s;
}
#list-group {
  border-style: solid;
  border-color: green #39FF14 #013220 #90ee90;
  width: 30%;
  animation-name: loadlist;
    animation-duration: 4s;
}
.form-group {
    opacity: 1;
  animation-name: img;
    animation-duration: 4s;
}
